body {
  background-color: #191919;
}

#navigation {
  width: 100%;
  text-align: center;
}

#navbar {
    margin-top: -20px;
    padding: 0;
    font-family: 'Nixie One', cursive;
    font-size: 11px;
  }

#navi {
  text-align:center;
  position: relative;
  display: inline-block;
  padding: 0 0 22px 0;
}

#navi li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
}

#navi a:link,
#navi a:visited {
  float: left;
  font-size: 11px;
  line-height: 20px;
  font-weight: bold;
  padding: 6px 22px 6px 22px;
  text-decoration: none;
  color: #708491;
  border-left: 1px solid #9FB1BC;
  border-bottom: 1px solid #9FB1BC;
}

#navbar #about{
  border-left: none;
}


#navi a:visited.active,
#navi a:hover {
  padding-bottom: 6px;
  color: #000;
  background: url(http://www.roscripts.com/uploads/4/m4.gif);
}

main {
  text-align: center;
}

p {
  color: white;
  font-family: 'Nixie One', cursive;
  font-size: 80%;
}

.profileimg {
  display: inline-block;
  border-radius: 50%;
  border: solid grey 1px;
  text-align: center;
  height: 150px;
  width: 150px;
}

image-caption {
  display: inline-block;
  text-align: center;
  padding: 25px;
}

h1 {
  color: white;
  font-family: 'Homemade Apple', cursive;
  font-size: 100%;
}
.socialmedia {
  text-align: center;
  font-size: .5em;
  background-color: white;
  font-family: 'Nixie One', cursive;
}
.socialmedia li{
  list-style-type: none;
  text-align: center;
}

@media screen only
