body {
  margin: 0;
}

#navigation {
  width: 100%;
  text-align: center;
}

#navbar {
    padding: 0;
    font-family: verdana, sans-serif;
    font-size: 11px;
  }

#navi {
  text-align:center;
  position: relative;
  display: inline-block;
  padding: 0 0 22px 0;
}

#navi li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
}

#navi a:link,
#navi a:visited {
  float: left;
  font-size: 11px;
  line-height: 20px;
  font-weight: bold;
  padding: 6px 22px 6px 22px;
  text-decoration: none;
  color: #708491;
  border-left: 1px solid #9FB1BC;
  border-bottom: 1px solid #9FB1BC;
}

#navbar #about{
  border-left: none;
}


#navi a:visited.active,
#navi a:hover {
  padding-bottom: 6px;
  color: #000;

  background: url(http://www.roscripts.com/uploads/4/m4.gif);
}

#rightsymbol{
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 120%;
}

.carousel-inner {
  border-top: .25vh solid #708491;
  border-bottom: .25vh solid #708491;
  max-height: 80vh;
  min-width: 100%;
}

.carousel img {
  min-width: 100%;
  min-height: 50%;
}

.carousel-caption {
position:relative;
top: 10px;
}

.carousel p {
  height: 125%;
}

.clash {
  color: grey;
}

.socialmedia {
  text-align: center;
  font-size: .5em;
}
.socialmedia li{
  list-style-type: none;
  text-align: center;
}
