body {
  margin: 0;
}

#navigation {
  width: 100%;
  text-align: center;
}

#navbar {

    padding: 0;
    font-family: verdana, sans-serif;
    font-size: 11px;
    /*background: #f7f7f7;*/
  }

#navi {
  text-align:center;
  position: relative;
  display: inline-block;
  padding: 0 0 22px 0;
}

#navi li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
}

#navi a:link,
#navi a:visited {
  float: left;
  font-size: 11px;
  line-height: 20px;
  font-weight: bold;
  padding: 6px 22px 6px 22px;
  text-decoration: none;
  color: #708491;
  border-left: 1px solid #9FB1BC;
  border-bottom: 1px solid #9FB1BC;
}
/*#contact{
  border-right: 1px solid #9FB1BC;
}*/

#navbar #about{
  border-left: none;
}


#navi a:visited.active,
#navi a:hover {
  padding-bottom: 6px;
  color: #000;

  background: url(http://www.roscripts.com/uploads/4/m4.gif);
}

#rightsymbol{
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 120%;
}

.ask {
  width: 100%;
  height: 50%;
}
