body {
  background-color: black;
}
.intro {
  background-image: url('pixelgirl/Ana_Julaton.jpg');
  height: 500px;
  background-size: cover;
}

.intro h1 {
  display: flex;
  justify-content: flex-start;
  color: red;
  padding-top: 300px;
}

#negotiations101 {
  background-color: black;
  background-size: cover;

}
#negotiations101 h2{
  text-align: center;
  font-size: 50px;
  color: red;
  margin-bottom: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.container {
  background-color: black;
}
.row {
  margin: 2em;
  background-color: black;
  background-size: cover;
  width: 100%;
  margin-left: 10px;
  margin-top: 0px;
  padding-left: 50px;
}

.col-sm-4 {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  display: block;
}

.col-sm-4 img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.col-sm-4 h3{
  text-align: center;
}

.col-sm-4 p{
  max-width: 100%;
}

#stanford-video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialmedia {
  text-align: center;
}
.socialmedia li{
  list-style-type: none;
  text-align: center;
}
