body {
background-color: black;
background-size: cover;
}
.intro {
  background-image: url('pixelgirl/Ana_Julaton.jpg');
  height: 76vh;
  background-size: contain;;
  width: 100%;
  background-position: top right;
  background-repeat: no-repeat;
}

.intro h1 {
  display: flex;
  justify-content: flex-start;
  color: red;
  padding-top: 300px;
  margin-left: 125px;
}

#negotiations101 {
  background-color: black;
  background-size: cover;
}
#negotiations101 h2 {
  text-align: center;
  font-size: 50px;
  color: red;
  margin-bottom: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.container {
  background-color: black;
  margin-left: 0px;
  margin-right: 0px;
}
.row {
  margin: 2em;
  background-color: black;
  background-size: cover;
  width: 100%;
  margin-left: 10px;
  margin-top: 0px;
  padding-left: 50px;
}

.col-sm-4 {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  display: block;
  margin-top: 20px;
}

.col-sm-4 img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.col-sm-4 h3 {
  text-align: center;
  color: red;
  margin-top: 20px;
}

.col-sm-4 p {
  max-width: 100%;
  color: red;
}

#stanford-video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

footer {
  background-color: red;
  height: 50px;
  background-size: cover;

}
.socialmedia {
  clear: both;
  text-align: center;
}
.socialmedia li {
  list-style-type: none;
  text-align: center;
  padding-top: 10px;
}

@media screen and (max-width: 767px){
  .into h1 {
    text-align: left;
  }
  .col-sm-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
