body {
background-color: black;
background-size: cover;
}

#negotiations101 {
  background-color: tan;
  background-size: cover;
}

#navigation {
  width: 100%;
  text-align: center;
}

#navbar {

    padding: 0;
    font-family: verdana, sans-serif;
    font-size: 11px;
  }
  #navi {
    text-align:center;
    position: relative;
    display: inline-block;
    padding: 0 0 22px 0;
  }

  #navi li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
  }

  #navi a:link,
  #navi a:visited {
    float: left;
    font-size: 11px;
    line-height: 20px;
    font-weight: bold;
    padding: 6px 22px 6px 22px;
    text-decoration: none;
    color: #708491;
    border-left: 1px solid #9FB1BC;
    border-bottom: 1px solid #9FB1BC;
  }

  #navbar #about{
    border-left: none;
  }


  #navi a:visited.active,
  #navi a:hover {
    padding-bottom: 6px;
    color: #000;

    background: url(http://www.roscripts.com/uploads/4/m4.gif);
  }

  #rightsymbol{
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 120%;
  }

.intro {
  background-image: url('pixelgirl/Ana_Julaton.jpg');
  height: 76vh;
  background-size: contain;;
  width: 100%;
  background-position: top right;
  background-repeat: no-repeat;
}

.intro h1 {
  display: flex;
  justify-content: flex-start;
  color: red;
  padding-top: 300px;
  margin-left: 125px;
}

#negotiations101 {
  background-color: black;
  background-size: cover;
}
#negotiations101 h2 {
  text-align: center;
  font-size: 50px;
  color: red;
  margin-bottom: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.container {
  background-color: black;

}
.row {
  margin: 2em;
  background-color: black;
  background-size: cover;
  width: 100%;
  margin-left: 10px;
  margin-top: 0px;

}

.col-sm-4 {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  display: block;
  margin-top: 20px;
}

.col-sm-4 img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.col-sm-4 h3 {
  text-align: center;
  color: red;
  margin-top: 20px;
}

.col-sm-4 p {
  max-width: 100%;
  color: red;
}

#stanford-video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.resourceslist {
text-decoration: none;
}

footer {
  background-color: red;
  height: 30%;
  background-size: cover;
}

.socialmedia {
  clear: both;
  text-align: center;
  font-size: .5em;
}
.socialmedia img{
  vertical-align: middle;
}
.socialmedia li {
  list-style-type: none;
  padding-top: 0;
}

@media screen and (max-width: 767px){
.intro {
  height: 40vh;
}
  .intro h1 {
    text-align: left;
    font-size: 2em;
    padding-top: 20%;
    margin-left: 10%;
    width: 30%;
  }
  .col-sm-4 {
    width: 100%
  }
  body {
    text-align: center;
  }
  .row {
    padding: 0px;
  }
  #stanford-video{
    max-width: 100%;
    height: inherit;
  }
}
