#negotiations101 {
  background-color: tan;
  background-size: cover;
}


#navbar {
  width: 100%;
  position: absolute;
  background-color:rgb(50, 154, 240) ;
  line-height: 42px;
  font-family: 'Hind', sans-serif;
  text-decoration: none;
  z-index: 1;
}

.content-title {
    width: 100%;
    background-color:rgb(50, 154, 240) ;
    line-height: 42px;
    font-family: 'Hind', sans-serif;
    padding: 2px;
}

#content{
  padding: 5 px;
  margin: 0px 10px 0px 10px;
}

nav ul li {
  list-style: none;
  float: left;
  padding: 0px 30px;
  text-align: center;
  margin-bottom: 0;
}

nav a {
  text-decoration: none;
  color: darkblue;
}

nav a:hover {
  color:rgb(219, 145, 231);
  color:pink;
}

.carousel {
  margin-top: 42px;
}

#negotiations101 h2{
  text-align: center;
  font-size: 50px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.row {
  margin: 2em;
  background-color: tan;
  background-size: cover;
  width: 100%;
  margin-left: 10px;
  margin-top: 0px;
  padding-left: 50px;
}

.col-sm-4 {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  display: block;
}

.col-sm-4 img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.col-sm-4 h3{
  text-align: center;
}

.col-sm-4 p{
  max-width: 100%;
}

.socialmedia {
  text-align: center;
}
.socialmedia li{
  list-style-type: none;
  text-align: center;
}
